.ds-modal-opacity-up {
  animation: ds-modal-anim-opacity-up 200ms ease-out 1;
  animation-fill-mode: forwards;
}

.ds-modal-opacity-down {

  .ds-modal {
    animation: ds-modal-anim-opacity-down 200ms ease-in 1;
    animation-fill-mode: forwards;
  }
}

@keyframes ds-modal-anim-opacity-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ds-modal-anim-opacity-down {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
  }
}