header.ds-modal-demo-header
  .ds-section-scroll-buttons
    button.ds-section-scroll-button.active section 1
    button.ds-section-scroll-button section 2
    button.ds-section-scroll-button section 3
  a(href="https://github.com/ShkredovDmitriy/ds-modal-js" target="_blank").ds-modal-demo-header__link
    .svg
      include ../../assets/images/icon-github.svg
