header.ds-modal-demo-header

  button.ds-modal-demo-header__button.active main
  button.ds-modal-demo-header__button advantages
  button.ds-modal-demo-header__button products
  button.ds-modal-demo-header__button contacts

  a(href="https://github.com/ShkredovDmitriy/ds-section-scroll" target="_blank").ds-modal-demo-header__link
    .svg
      include ../../assets/images/icon-github.svg
