.ds-modal-demo-content
    .ds-section-scroll-container
        .ds-section-scroll-item(style="background-color: red;")
        .ds-section-scroll-item(style="background-color: green;")
        .ds-section-scroll-item(style="background-color: blue;")

   

