.ds-modal-demo-content
    .ds-section-scroll-container
        .ds-section-scroll-item(style="background-color: #26448a;") 1
        .ds-section-scroll-item(style="background-color: #880b0b;") 2
        .ds-section-scroll-item(style="background-color: #0b750b;") 3
        .ds-section-scroll-item(style="background-color: #68085a;") 4
