.ds-modal-demo-content
    .ds-section-scroll-container
        .ds-section-scroll-item(style="background-color: red;") 1
        .ds-section-scroll-item(style="background-color: green;") 2
        .ds-section-scroll-item(style="background-color: blue;") 3
        .ds-section-scroll-item(style="background-color: brown;") 4
