.ds-modal-demo-content
    .ds-section-scroll-container
        .ds-section-scroll-item(style="background-color: red;")
        .ds-section-scroll-item(style="background-color: green;")
        .ds-section-scroll-item(style="background-color: blue;")
    .ds-section-scroll-dots
        button.ds-section-scroll-dot.active
        button.ds-section-scroll-dot
        button.ds-section-scroll-dot

   

