.ds-modal-demo-content
    .ds-section-scroll-container
        section.ds-section-scroll-item(style="background-color: #26448a;") main section
        section.ds-section-scroll-item(style="background-color: #880b0b;") advantages section
        section.ds-section-scroll-item(style="background-color: #0b750b;") products section
        section.ds-section-scroll-item(style="background-color: #68085a;") contacts section
