extends ../templates/index

block variables
    - var title = 'ds-modal-js'
    - var pageClass = 'index-page'

block content
  include ../blocks/demo-header/demo-header
  include ../blocks/demo-content/demo-content
  include ../blocks/demo-footer/demo-footer
