// colors
$color-white: #ffffff;
$color-grey-light: #f3f1f1;
$color-grey: #cecece;
$color-blue: #3158b3;
$color-black-light: #282828;
$color-black: #000000;

// main fonts
$font-main-regular: arial, helvetica, sans-serif;
$font-main-medium: arial, helvetica, sans-serif;
